<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <!--font-link-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap" rel="stylesheet">
   <!-- Style CSS -->
   <link href="http://localhost:5000/assets/style.css" rel="stylesheet" />
   <title>Generate Statement</title>
</head>

<body>
   <div class="page container">
      <div class="pageNumber" style="top: 30px;">Page <%= pageNumber %> of <%= pageCount %>
      </div>
      <div class="row mt-2 table">
         <div class="col-12">
            <table>
               <tr>
                  <th style="width: 12%">Date</th>
                  <th style="width: 23%">Description</th>
                  <th style="width: 10%">Debit</th>
                  <th style="width: 10%">Credit</th>
                  <th style="width: 10%">Balance</th>
                  <th style="width: 10%">Marketing Debit</th>
                  <th style="width: 10%">Marketing Credit</th>
                  <th style="width: 10%">Marketing Balance</th>
               </tr>
               <% for(let da of data) { %>
                  <tr>
                     <td>
                        <%= da.date %>3
                     </td>
                     <td><b style="letter-spacing: 0.9px;">Miscellaneous:</b> Client Gifts and Party. 'Client Gifts and Party Favors. This is test description. Testing
                        again.'
                        Favors</td>
                     <td class="debit">-$87.00</td>
                     <td class="credit">$56</td>
                     <td>-$87.00</td>
                     <td class="debit">-$66</td>
                     <td class="credit">$54</td>
                     <td>$0.00</td>
                  </tr>
               <% } %>
            </table>
         </div>
      </div>
   </div>
</body>
</html>